.btn {
  padding: 8px 32px;
  border-radius: $btn-radius;
}
.btn.btn-laranja {
  background: $color-tercearia;
  color: $color-branco;
  transition: all 0.25s;
}
.btn.btn-laranja:hover {
  background: #ff531a;
}
