header {
  section {
    justify-content: space-between;
    align-items: center;
  }
  nav {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;

      li {
        transition: all 0.25s;

        a {
          margin: 0px 16px;
          color: $color-primaria;
        }
      }
      & li:hover {
        transform: scale(1.25);
      }
    }
  }
}
