header section {
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  margin: 0px 16px;
  color: #3399cc;
  transition: all 0.25s;
}
header nav ul li:hover {
  transform: scale(1.25);
}
